*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

### ModuleGenerator ###
/module-generator/node_modules
/module-generator/package-lock.json
/module-generator/yarn.lock

### Config DB ###
/application/config/development/database.php
/application/config/production/database.php
/application/config/testing/database.php